body {
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: #fff;
	font-family: 'Exo 2';
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
	padding-bottom: 20px;
	font-size: 18px;
}

.full {
  background: url(../img/cubes.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, p {
	color: #000;
}

h1 {
	font-size: 38px;
	font-family: 'Quicksand';
	letter-spacing: -5px;
}

h2 {
	font-size: 18px;
	font-family: 'Exo-2';
	color: black;
}

.navbar {
	font-size: 12px;
}